.upbar
{
    position: relative;
    margin-bottom: 25px;
}

.btn-agregar
{
    border-radius: 20px;
    background-color: #424a5d;
    color: #ffd777;
}

.btn-agregar:hover
{
    color: white;
}

.agregar
{
    display: block;
    color: white;
    float: right;
    padding-top: 10px;
    padding-left: 5px;
}

.file-input
{
    width: 400px;
    margin: auto;
}

.glyphicon-folder-open
{
    margin-right: 5px;
}

.spinner-agregar
{
    position: absolute;
    color: #424a5d;
    left: 185px;
    top: 60px;
    display: none;
}

.fa-check
{
    position: absolute;
    color: yellowgreen;
<<<<<<< HEAD
    left: -30px;
    top: 13px;
=======
    left: 185px;
    top: 60px;
>>>>>>> origin/master
    display: none;
}

.spinner-ultimos
{
    color: #424a5d;
    position: absolute;
<<<<<<< HEAD
    top: 15px;
    left: 750px;
    display: none;
=======
    top: 80px;
    left: 400px;
>>>>>>> origin/master
}

.box2
{
    margin-right: 8px;
    position: relative;
}

.box2:hover .box3 {
	border-bottom: 1px solid #ffffff;
}

.box2 p {
	text-align: center;
	font-size: 12px;
	color: #777777;
}

.box2:hover p {
	color: #ff865c;
}

.box2:hover {
	background: #ffffff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.box3 {
	padding: 3px;
	text-align: center;
	color: #989898;
}

.box3 span {
	font-size: 50px;

}

.box3 h3 {
	text-align: center;
}

.box3
{
    width: 90px;
    display: block;
    text-align: center;
    margin: auto;
<<<<<<< HEAD
    height: 130px;
=======
>>>>>>> origin/master
}

.white-panel
{
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    height: auto;
    min-height: 300px;
}

.white-panel i
{
<<<<<<< HEAD
    font-size: 50px;
=======
    font-size: 65px;
>>>>>>> origin/master
    color: #424a5d;
}

.fa-file-pdf-o
{
    font-size: 25px;
    color: black;
}

<<<<<<< HEAD
.listado-carpetas
{
    margin-bottom: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.archivos-carpeta
{
    margin-top: 20px;
    height: 150px;
    border-radius: 4px;
    padding-left: 30px;
    padding-top: 10px;
}

.archivos-carpeta2
{
    padding-top: 6px;
    height: 145px;
    border-radius: 4px;
    padding-left: 30px;
    padding-bottom: 10px;
=======
.listado-archivos
{
    display: none;
}

.lista
{
    margin-bottom: 6px;
    padding-bottom: 6px;
    padding-left: 80px;
>>>>>>> origin/master
}

/* Efecto de hover para la descarga */
.mask
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,215,119,0.95);
    display: none;
<<<<<<< HEAD
    height: 130px;
=======
>>>>>>> origin/master
}

.fa-download
{
    color: white;
    display: block;
    position: absolute;
    left: 35%;
    top: 25%;
}

.descargar
{
    color: #424a5d;
    font-size: 15px;
    font-weight: bolder;
    display: block;
    position: absolute;
    top: 60%;
    left: 21%;
}

.fa-book
{
    font-size: 26px;
    color: #424a5d;
<<<<<<< HEAD
    margin-left: 20px;
=======
>>>>>>> origin/master
}

.h5estudios
{
<<<<<<< HEAD
    margin-left: 15px;
=======
    margin-left: 6px;
>>>>>>> origin/master
    margin-bottom: 18px;
    font-size: 18px;
    color: #424a5d;
    font-weight: bold;
}

<<<<<<< HEAD
.panel-estudios
{
    min-height: 10px;
    padding-bottom: 5px;
    position: relative;
}

.fa-estudios
{
    position: absolute;
    left: 14px;
    top: 18px;
    font-size: 20px;
    cursor: pointer;
    color: #424a5d;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
}

.fa-estudios:hover
{
    color: #ffd777;
}


=======
>>>>>>> origin/master
/* modificamos el icono del menu de la izquierda */
.icono-archivo
{
    margin-left: 2px;
    margin-right: 2px;
<<<<<<< HEAD
}

.carpeta
{
    color: #4B546A;
    font-size: 16px;
    padding-left: 30px;
}

.nombre-folder
{
    margin-left: 10px;
}

.folder
{
    z-index: +2;
}

.carpeta
{
    background-color: #FFFFFF;
    color: #4B546A;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    margin-bottom: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 4px;
}

.carpeta:hover
{
    background-color: #ffd777;
    cursor: pointer;
}

.icono-archivo
{
    font-size: 45px;
}

.btn-agregar-carpeta
{
    display: block;
    margin: auto;
    margin-top: 8px;
    color: #424a5d;
    background-color: rgba(0,0,0,0);
    border-radius: 4px;
    border: 1px solid;
    height: 33px;
    width: 155px;
    position: relative;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
}

.btn-agregar-carpeta:hover
{
    background-color: #ffd777;
}

.fa-plus
{
    position: absolute;
    left: 11px;
    top: 8px;
}

.listado-footer
{
    margin-top: 8px;
    position: relative;
}

.input-agregar
{
    border-radius: 8px;
    width: 250px;
    position: absolute;
    left: 298px;
    bottom: 0px;
}

.agregar-archivo
{
    position: relative;
    width: 370px;
    margin: auto;
}

.file-input2
{
    position: absolute;
    bottom: 0px;
}

/* Para manejar el estilo de cada parte de agregar archivo dentro de cada carpeta */
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#uploadFile
{
    width: 200px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* Acortamos el nombre de archivo que muestran las box */
.nombre-archivo
{
    word-wrap: break-word;
}

.spinner-subir
{
    font-size: 24px;
    color: #424a5d;
    position: absolute;
    left: -30px;
    top: 13px;
}

.btn-subir
{
    background-color: #ffd777;
    color: white;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
}

.btn-subir:hover
{
    background-color: #DEB34B;
    color: white;
=======
>>>>>>> origin/master
}