#searchbox
{
    background-color: #424a5d;
    background-image: linear-gradient(#424a5d, #424a5d);
    border-radius: 5px;    
    border-width: 1px;
    border-style: solid;
    width: 500px;
    height: 75px;
    padding: 5px;
    margin: 10px auto 50px;
    overflow: hidden; /* Clear floats */
}

#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 5px;
    margin-left: 28px;
    margin-top: 9px;
    height: 43px;
    width: 380px;
    font: normal 16px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 5px 0px 0px 5px;
    border: 0px solid #424a5d;

    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);   */         
}

.fa-search
{
    padding-right: 5px;
}

#submit
{
    height: 43px;
    margin-top: 9px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #ffd777;
    background: #ffd777;


}
